body{
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding:3% 15% 10%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}

h2 {
  
  font-size: 3rem;
  line-height: 1.5;
}

h3 {

  font-size: 3rem;
  line-height: 1.5;

}

p {
  color: #8f8f8f;
  font-size:1rem;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}



.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download Buttons */

.download-button {
  margin-top: 5%;
  margin-right: 1%;
  margin-left: 0;
  margin-bottom: 0;

}

.download-button2 {
  margin-top: 5%;
  margin-right:1%;
  margin-left: 1%;
  margin-bottom: 0;
}

/* Title Image */

.title-image {
  max-width: 40%;
  transform: rotate(25deg);
  position:absolute;
  margin-top:50px;
  margin-left:100px;

}

.title-area {
  padding-top: 4rem;
}

/* features section */

  #features {
    padding: 7% 15%;
    background-color: #fff;
  }

  .feature-box {
    text-align: center;
    padding:7%;

  }

  .icon {
    color: #ef8172;
    margin-bottom:1rem;
  }

  .icon:hover {
    color:#ff4c68;

  }

  .position {
    position: relative;
    z-index: 1;


  }



/* Testimonials */

  #testimonials {
    text-align: center;
    background-color: #ef8172;
    color:#fff;
  }

  .testimonial-image {
    width:10%;
    border-radius: 100%;
    margin:20px;
  }

  .carousel-item {
    padding: 7% 15%;
  }

  #press {
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
  }

  .press-logo {
    width:15%;
    margin: 20px 20px 50px;
  }

  /* Pricing section */

  #pricing {
    padding: 100px;
    text-align: center;
  }

.pricing-column {
  padding: 3% 2%;
}

    /* CSS Media Query for title-image */

@media (max-width:768px) {

  #title {
    text-align: center;
  }

  .title-image {
    position:static;
    transform:rotate(0);
    margin-left:auto;

  }
}

 /* Call to Action  */

  #cta {
    background-color:#ff4c68;
    text-align: center;
    color:#fff;
    padding:7% 15%;
    }

  .download-button-cta {
    margin-top: 2%;
    margin-right:.5%;
    margin-bottom:5%;
    margin-left: .5%;
  }


  }
  .cta-heading {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;

  }

  /* Footer */

  #footer {
    background-color: #fff;
    text-align: center;
    padding:7% 15%;
  }

  .social-icon {
    margin:20px 10px;
  }
